body{
    color:teal;
    margin:0;
    background-color: rgb(211, 206, 206);
    font-family: 'Montserrat', sans-serif;
}
.logo{
    padding:0 1.4rem;
    font-family: 'Henny Penny', cursive;
}
.header{
    background-color: rgb(26, 16, 16);
    color:teal;
   
}
a{
    text-decoration: none;
    color:#fff;text-transform: capitalize;
    float:right;
    cursor: pointer;
}
.flex{
    display:flex;
    justify-content:space-between;
    justify-items:center;
}
.item{
    list-style: none;
    padding-right:2rem;
    font-size:20px;
    display:flex;
    justify-content: space-evenly;

}
.footer{
    text-align:center;font-size:20px;
    text-transform: capitalize;
    position:absolute;
    bottom:2px;
    background-color: rgb(26, 16, 16);
    width:100%;
    text-align:center
}
.content{
    position:absolute;top:50%;
    left:50%;
    transform:translate(-50%,-50%);
   
}
.input{
    border:none;
    outline:none;
    background-color: rgb(238, 236, 236);
    padding:.7rem 4rem;
    margin-left:10rem;
    border-bottom:2px solid rgba(0,0,0,0.5);
    border-radius:10rem;
}
.btn{
    border:none;
    outline:none;
    margin-left:3rem;
    padding:.6rem 1.5rem;
    transition: all 0.2s ease-in-out;
    background-color: rgb(184, 180, 180);
}
.btn:hover{
    transform:translateY(-2px);
    box-shadow:0 2px 5px rgba(0,0,0,0.3)
}
.btn:active{
    transform:translateY(2px);
    box-shadow:0 1px 2px rgba(0,0,0,0.1)
}
.message-heading{
    font-size:1.6rem;
    font-family:cursive;
    padding:2rem;
    margin:1rem;
}
.temp-box1{
    display:flex;justify-content:center;
    align-items: center;
    font-size:2rem;
    text-transform:capitalize;
    color:#000;
}
.temperature{
    padding:10px;
    font-weight:normal
}
.temp-box2{
    display:flex;
    justify-content: space-around;
    margin-top:-3rem
}
.temp-feels,
.temp-high,
.temp-low,
.wind-speed,
.humidity,
.cloud-cover,
.lat,
.long{
    color:#000;
    text-transform: capitalize;
    font-size:1.4rem;
    padding:1rem;
    white-space: nowrap;
}
span{
    color:#fff
}
.current-summary{
    font-weight:600;
}
.daily-summary{
    text-align:center;
    font-size:2.4rem;
    margin-top:-2rem;
    text-transform: capitalize;
    font-weight:100
}
.precip-probability{
    color:#000;
    font-weight:200;
    font-size:1.4rem;
    margin-top:-1rem
}

.time{
    text-align:center;
    font-weight:600;
    font-size:2rem;
    text-transform: uppercase;
}
.other-params{
    display:Flex;
    justify-content:space-evenly;
    align-items: center;
}


