<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        .error{
            text-align:center;
            background-color: rgb(54, 49, 49);
            color:#fff;
            display:inline-block;
            width:50%;
            position:absolute;
            top:40%;
            left:40%
        }
    </style>
</head>
<body>
    <div class="error">
            <p>Page not found</p>
            <a href="/">back to home page</a>
    </div>
</body>
</html>