<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="flex">
            <div>
                <h1 class="logo">Reshi's</h1>
            </div>
            <div>
                <form class="form" action="/weather" method="post">
                    <input class="input" name="input" type="text" placeholder="Enter Your Location" autofocus>
                    <button class="btn" type="submit">Search</button>
                    
                </form>
            </div>
           <div>
               <ul class="item">
                <li class="item"><a href="/" >home</a></li>
                <li class="item"><a href="/about">about</a></li>
               </ul>
            </div>
        </div>
    </div>
</body>
</html>